<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <div flex-column>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/word">Word</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/artikel">Artikel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sentence">Sentence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adverb">Adverb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/w-frage">W-frage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/interrogative-pronouns">Interrogative-Pronouns</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/preposition">Preposition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/verb">Verb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/verb-grammar">Verb-Grammar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reflexive-verb">Reflexive-verb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/konjunktiv-ii">Konjunktiv II</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partizip-i">Partizip I</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/gut-gesagt">Gut-Gesagt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connectors">Hauptsätze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/relative-clause">Relative-Clause</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/infinitiv-clause">Infinitiv-Clause</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/modalverben">Modalverben</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/modal-praeteritum">Modalverben im Präteritum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/passiv">Passiv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/interjection">Interjection</a>
        </li>
      </ul>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/quizSatz">GET QuizSatz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getQuizWort">GET QuizWort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/postQuizAdjektiv">Adjektiv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getQuizWort">Verben mit Präposition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getQuizSaetzeverbinden">GET QuizSätzeverbinden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pronomen">Pronomen</a>
        </li>
      </ul>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/postQuizSatz">POST QuizSatz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postQuizWort">POST QuizWort</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postQuizAdjektiv">Adjektiv</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postQuizVerbenMitPraeposition">Verben mit Präposition</a>
      </li>
    </ul>
    </div>
</nav>