<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2> <a href="getPersonalPronomen">1. Personal Pronomen</a> </h2>
      <h2> <a href="getJederAlle">2. Jeder und Alle</a> </h2>
      <h2> <a href="getJemandNiemand">3. Jemand und Niemand</a> </h2>
    </caption>
  </table>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>